<.navbar {assigns} />

<main>
  <%= if Map.keys(@flash) != [] do %>
    <div class="p-2">
      <.flash flash={@flash} kind={:error} />
      <.flash flash={@flash} kind={:info} />
    </div>
  <% end %>

  <%= @inner_content %>
</main>

<%= if assigns[:after_content] && is_function(assigns[:after_content]) do %>
  <%= assigns[:after_content].(assigns) %>
<% end %>
